/*home*/
.customCSS .x-grid-cell-inner-treecolumn
            {
                text-align:left !important;
            }
.x-grid-cell-inner-treecolumn
            {
                text-align:left !important;
            }            
.icons-add{
    background-image:url('../images/icons/add.png') !important;
}
.icon-edit-record{
    background-image:url('../images/icons/application_edit.png') !important;
}
.icon-delete{
    background-image:url('../images/icons/delete.gif')!important;
}

.icon-refresh{
    background-image:url('../images/icons/refresh.gif')!important;
}

.icon-cancel{
    background-image:url('../images/icons/cross.gif')!important;
}

.icon-list-accept{
    background-image:url('../images/icons/list_accept.png')!important;
}

.icon-simpan{
    background-image:url('../images/icons/save.gif')!important;
}
.icon-approval{
    background-image:url('../images/icons/list_accept.png')!important;
}
.icon-reject{
    background-image:url('../images/icons/list_delete.png')!important;
}
.icon-preview{
    background-image:url('../images/icons/application_view_list.png')!important;

}
.icon-preview_report{
    background-image:url('../images/icons/book.png')!important;

}
.icon-user-delete{
    background-image:url('../images/icons/user_delete.png')!important;

}
.icon-user{
    background-image:url('../images/icons/user.png')!important;

}
.icon-user-orange{
    background-image:url('../images/icons/user_orange.png')!important;

}
.icon-key{
    background-image:url('../images/icons/key.png')!important;

}
.icon-export{
    background-image:url('../images/icons/application_go.png')!important;

}
.icon-summary{
    background-image:url('../images/icons/image_add.png')!important;

}
.icon-grid{
    background-image:url('../images/icons/grid.png')!important;

}
.icon-grid-refresh{
    background-image:url('../images/icons/table_refresh.png')!important;

}
.icon-process{
    background-image:url('../images/icons/cog.png')!important;

}
.icon-processedit{
    background-image:url('../images/icons/cog_edit.png')!important;

}
.icon-history{
    background-image:url('../images/icons/control_rewind.png')!important;

}
.icon-payment{
    background-image:url('../images/icons/dollar.png')!important;

}




